<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework/ObjectManager/etc/config.xsd">
    <type name="CRT0\Mag2Whats\Ui\DataProviders\FormDataProvider">
        <arguments>
            <argument name="name" xsi:type="string">mag2whats_form_data_provider</argument>
            <argument name="primaryFieldName" xsi:type="string">id</argument>
            <argument name="requestFieldName" xsi:type="string">id</argument>
        </arguments>
    </type>
</config>
